*.o
*.obj
*.lst
*.exe
/libfldtk.a
/libfldtk.so
/fluid
/fluid-bootstrap
/build/
/source/fluid/panels/generated/
/source/test/generated/
/source/examples/generated/
fldtk-fluid-test-fluid
fldtk-test-linux-default
